* {
    font-weight: lighter;
    font-family: "微软雅黑Light";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea {
    -webkit-user-select: auto;
    /*webkit浏览器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}

.navbar-inverse .navbar-brand {
    color: lightblue;
}

.header {
    left: 50%;
    right: 50%;
    margin: 0 auto;
    text-align: center;

    font-weight: bold;
    color: darkslateblue;
    font-size: 30px;
}

.datWindow {
    border-radius: 15px;
    border-style: solid;
    border-color: #DEB887;
    border-width: 1px;
    background-color: lightpink;
    height: 110px;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    color: #696969;
}

.datWindow:hover {
    border-radius: 15px;
    border-style: solid;
    border-color: #cba69d;
    border-width: 1px;
    background-color: lightpink;
    height: 110px;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    color: #696969;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #8FBC8F;
}

.numSpan {
    font-size: 32px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
}

.numSpan-sm {
    font-size: 24px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
}

.statusSpan {
    font-size: 28px;
    font-weight: bold;
    color: #8FBC8F;
    font-family: 'Courier New', Courier, monospace;
}

.statusSpanWarn {
    font-size: 28px;
    font-weight: bold;
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
}

body {
    /*background-color: #D8BFD8;*/
    background-color: #e9c6d2;
}

.myformcontrol {
    margin-top: 6px;
    width: 75%;
    float: left;
    background-color: #DEB887;
    color: #696969;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.myformcontrol1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #cba69d;
    border-radius: 4px;
    background-color: transparent;
}

a {
    cursor: pointer;
}

small {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.test-5::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

/*进度条抄自https://www.jianshu.com/p/c2addb233acd，万分感谢此仁兄*/
.test-5::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: rgb(10, 73, 98);
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
}

.test-5::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgb(35, 193, 255);
    border-radius: 10px;
}

.controlBox {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid#8FBC8F;
    border-radius: 5px;
    padding: 8px;
    padding-left: 16px;
    font-size: 18px;
}

.gif {
    position: absolute;
    /*声明绝对定位*/
    left: 0;
    /*在页面最左侧对齐*/
    top: 0;
    /*在页面最上方对齐*/
    height: 100vh;
    /*高度是相对屏幕高度的100%*/
    width: 100vw;
    /*宽度是相对屏幕宽度的100%*/
    z-index: 1;
    /*设置元素优先级为1级*/
    display: none;
    /*设置元素隐藏*/
    align-items: center;
    /*让子元素横向居中(声明flex后有效)*/
    justify-content: center;
    /*让子元素垂直居中(声明flex后有效)*/
    background-color: rgba(0, 0, 0, 0.5);
    /*设置背景颜色为黑色，并给0.5透明度*/
}

.gif>img

/*设置gif下的img元素样式*/
    {
    height: 5%;
    width: 5%;
    border-radius: 10px;
}