<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IntelliSw - 应用配置</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  <style>
    .virtualScreen {
      height: 200px;
      font-family: 'Courier New', Courier, monospace;
    }

    .vs_container_class {
      padding: 18px;
      background-color: #aaa;
      border-color: black;
      border: solid;
      border-width: 1px;
    }

    .vs_container_inner {
      padding: 12px;
      background-color: #808000;
      border-color: black;
      border: solid;
      border-width: 1px;
      position: relative;
    }

    tr {
      height: 34px;
    }

    td {
      line-height: 34px;
    }

    .navbar-inverse .navbar-brand {
      color: lightblue;
    }

    .codearea {
      font-family: 'Consolas';
      height: 130px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="font-weight: bold;">IntelliSw - 智能开关</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">应用配置</a></li>
          <li><a href="/">返回主页</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 80px;">
    <div class="row">
      <div class="col-sm-4">
        <div>
          <h2>GUI模拟</h2>
          <h5>可供编辑的X大小为{{guiData.guisize_x}}个字符，Y大小为{{guiData.guisize_y}}个字符。
            <br>
            每个字符宽{{guiData.word_x}} px，高{{guiData.word_y}} px。
          </h5>
          <div class="vs_container_class">
            <div class="vs_container_inner">
              <div id='line_cursor' style="position:absolute;margin-left: -10px;"><span style="font-size: 14px;">►</span></div>
              <div class="virtualScreen" id='vs_container'>
                <canvas id="myCanvas" width="360" height="205"></canvas>
              </div>
            </div>
          </div>
          <div>
            <hr class="hr-hidden">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  GUI制作
                </h3>
              </div>
              <div class="panel-body">
                <div class="input-group">
                  <span class="input-group-addon">#</span>
                  <input id='strinput' type="text" class="form-control" placeholder="键入你的文本" maxlength="{{ guiData.guisize_x }}">
                </div>
                <div class="clearfix" style="padding: 5px;">
                  <div class="pull-left">
                    <input type="button" class="btn btn-primary" onclick="CursorUp()" value="指针上浮" />
                  </div>
                  <div class="pull-right">
                    <input type="button" class="btn btn-primary" onclick="CursorDown()" value="指针下移" />
                  </div>
                </div>
                <div class="clearfix" style="padding: 5px;">
                  <div class="pull-left">
                    <input type="button" class="btn btn-primary" onclick="ClearGUI()" value="清除屏幕" />
                  </div>
                  <div class="pull-right">
                    <input type="button" class="btn btn-primary" onclick="ClearCurrentLine()" value="清除本行" />
                  </div>
                </div>
                <div class="clearfix" style="padding: 5px;">
                  <div class="pull-left">
                    <input type="button" class="btn btn-primary" onclick="ExportGUI()" value="导出数据" />
                  </div>
                  <div class="pull-right">
                    <input type="button" class="btn btn-primary" onclick="submitString()" value="提交本行" />
                  </div>
                </div>
                <hr class="hr-hidden">
                <pre id='guiresult' class="codearea"></pre>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-8">
        <div>
          <h2>插件管理</h2>
          <h5>注册了的插件</h5>
          <div style="vertical-align: middle;">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>APP ID</th>
                  <th>APP名称</th>
                  <th>解释</th>
                  <th>APP KEY</th>
                  <th>下行数据端口</th>
                  <th>激活</th>
                </tr>
              </thead>
              <tbody>
                {% for app in applist %}
                <tr style="height: 34px;">
                  <td style="line-height: 34px;">{{app.appid}}</td>
                  <td style="line-height: 34px;">{{app.name}}</td>
                  <td style="line-height: 34px;"><input type="button" class="btn btn-default"
                      onclick="alert('{{app.description}}')" value="查看" /></td>
                  <td style="line-height: 34px;">{{app.app_key}}</td>
                  <td style="line-height: 34px;">{{app.downstream_port}}</td>
                  {% if not app.active %}
                  <td style="line-height: 34px;"><input type="button" class="btn btn-default"
                      onclick="SetAppActive('{{app.app_key}}')" value="激活" /></td>
                  {% else %}
                  <td style="line-height: 34px;"><input type="button" class="btn btn-danger"
                      onclick="SetAppActive('{{app.app_key}}')" value="失活" /></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>
    var guisize_x = {{ guiData.guisize_x }}, guisize_y = {{ guiData.guisize_y }};
    var word_x = {{ guiData.word_x }}, word_y = {{ guiData.word_y }};
    var chars_pixel_jsondata = {{ guiData.chars_pixel| safe}};


    var screenHeight = guisize_y * word_y, screenWidth = guisize_x * word_x;
    var CanvasWidth, CanvasHeight;
    var virtualPixelSize;
    var canvas;
    var ctx;

    window.onload = function () {
      CanvasInit(document.getElementById('vs_container'), document.getElementById('myCanvas'));
    };

    function submitString() {
      if ($('#strinput').val() == '')
        alert('键入的字符不能为空');
      else
        l_print($('#strinput').val());
    }
  </script>
  {% load static %}
  <script type="text/javascript" src="{% static 'app_conf.js' %}"></script>
</body>


</html>