@font-face {
    font-family: 'LSANS';
    src: url('./LSANS.ttf')
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'LSANS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    width: 100vw;
    height: 100vh;
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;
    /* CSS3属性 */
    overflow-x: hidden!important;
}

.intelli-card {
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fff;
    color: navy;
    width: 100%;
}

.fa-in-card{
    font-size: 32px;
    margin-top:5.6px;
    width: 32px;
    text-align: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.info-card{
    background-color: #fff;
    margin:10px 5px 0 5px;
    padding: 10px;
    color: navy;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-card-small{
    width: 170px;
}

.info-card-big{
    width: 350px;
}

.control-card{
    background-color: #fff;
    margin:10px 5px 0 5px;
    padding: 10px;
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart-card{
    background-color: #fff;
    margin:10px 5px 0 5px;
    padding: 10px;
    color: navy;
}
