<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Intelli-Sw</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="./assets/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-center py-3" v-if="route!='login'">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='home'}]" aria-current="page" v-on:click="route='home'">Home</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='view'}]" v-on:click="route='view'">View</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='manage'}]" v-on:click="route='manage'">Manage</a></li>
                <li class="nav-item"><a href="#" class="nav-link" v-on:click="logout">Logout</a></li>
            </ul>
        </header>
        <div class="container mt-5">
            <div class="row" v-if="route=='login'">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h3 style="text-align:center">Intelli-Sw</h3>
                    <div class="intelli-card">
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter username" v-model="username">
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" v-model="password">
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" v-model="rememberUser">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="login">Log In</button>
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row" v-if="route=='home'">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h4 style="text-align:center">Available Devices</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" v-on:click="viewDevice('sanya01')">
                            <i class="fa fa-server fa-in-card" aria-hidden="true"></i>
                          <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Sanya 01</h6>
                              <p class="mb-0 opacity-75">Room controller</p>
                            </div>
                            <small class="opacity-80 text-nowrap text-success">online</small>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" v-on:click="viewDevice('s22+')">
                            <i class="fa fa-mobile fa-in-card" aria-hidden="true"></i>
                          <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">S22+</h6>
                              <p class="mb-0 opacity-75">Mobile Phone</p>
                            </div>
                            <small class="opacity-80 text-nowrap text-success">online</small>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" v-on:click="viewDevice('yueyang01')">
                            <i class="fa fa-file-text fa-in-card" aria-hidden="true"></i>
                          <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Yueyang 01</h6>
                              <p class="mb-0 opacity-75">NAS</p>
                            </div>
                            <small class="opacity-80 text-nowrap text-danger">offline</small>
                          </div>
                        </a>
                      </div>
                </div>  
                <div class="col-md-4">
                </div>
            </div>
            <div class="row" v-if="route=='view'">
                <div class="col-sm-4">
                </div>
                <div class="col-2">
                    123
                </div>
                <div class="col-2">
                    456
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-2">
                    123
                </div>
                <div class="col-2">
                    456
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                route: "login", /* mode:login home view manage*/
                username: "",
                password: "",
                rememberUser: false,
                defaultDevice:'sanya01'
            },
            methods: {
                clearPassword: function () {
                    this.password = "";
                    window.localStorage.removeItem("username");
                    window.localStorage.removeItem("password");
                },
                login: function (e) {
                    if (this.username == "" || this.password == "") {
                        alert("Please fill the form correctly.");
                        return;
                    }
                    if (this.password.length < 32) {
                        this.password = md5(this.password);
                    }
                    if (this.username != "admin" || this.password != md5("123456")) {
                        this.clearPassword();
                        alert("Invalid Log-In Attempt.");
                        return;
                    }
                    if (this.rememberUser) {
                        window.localStorage.setItem("username", this.username);
                        window.localStorage.setItem("password", this.password);
                    }
                    else {
                        this.clearPassword();
                    }
                    this.route = "home";/*Change Status*/
                },
                logout:function(){
                    this.clearPassword();
                    this.rememberUser = false;
                    this.route = "login";/*Change Status*/
                },
                viewDevice:function(d){
                    this.defaultDevice=d;
                    this.route="view";
                }
            },
            mounted: function () {
                this.username = window.localStorage.getItem("username");
                this.password = window.localStorage.getItem("password");
                if (this.password.length == 32) {
                    this.rememberUser = true;
                    this.login();
                }
            }
        });

    </script>
</body>

</html>