<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Intelli-Sw</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <link href="./assets/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-center py-3" v-if="route!='login'">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='home'}]"
                        aria-current="page" v-on:click="changeRoute('home')">Home</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='view'}]"
                        v-on:click="changeRoute('view')">View</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='manage'}]"
                        v-on:click="changeRoute('manage')" v-if="permission>1">Manage</a></li>
                <li class="nav-item"><a href="#" class="nav-link" v-on:click="logout">Logout</a></li>
            </ul>
        </header>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">{{toast_title}}</strong>
                    <small>{{toast_subtitle}}</small>
                </div>
                <div class="toast-body">
                    <div class="spinner-border spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    {{toast_message}}
                </div>
            </div>
        </div>
        <div class="container mt-2">
            <div class="row" v-if="route=='login'">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <h3 style="text-align:center">Intelli-Sw</h3>
                    <div class="intelli-card">
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter username" v-model="username">
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" v-model="password">
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" v-model="rememberUser">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="login">Log In</button>
                    </div>

                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row" v-if="route=='home'">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <h4 style="text-align:center">Available Devices</h4>
                    <div class="list-group">
                        <a v-for="item in devices" href="#"
                            class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
                            v-on:click="viewDevice(item.name)">
                            <i v-bind:class="['fa','fa-in-card',item.icon]" aria-hidden="true"></i>
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{item.name}}</h6>
                                    <p class="mb-0 opacity-75">{{item.type}}</p>
                                </div>
                                <small v-if="item.online>0" class="opacity-80 text-nowrap text-success">online</small>
                                <small v-if="item.online==0" class="opacity-80 text-nowrap text-danger">offline</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row" v-if="route=='view'" style="display:flex;justify-content:center;">
                <div style="max-width:430px;">
                    <div class="card-container" style="background-color: #fff;padding: 5px;width: 350px;margin: auto;"
                        v-if="!haveChosenDevice">
                        <span>You haven't chosen a device yet.</h4>
                    </div>
                    <div class="card-container" style="background-color: #fff;padding: 5px;width: 350px;margin: auto;"
                        v-if="haveChosenDevice" v-on:click="viewAPIdesc">
                        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;{{chosenDevice}}</h4>
                    </div>
                    <div class="card-container mt-2" v-if="haveChosenDevice&&view_apidesc">
                        <div style="background-color: #fff;padding: 15px;width: 350px;margin: auto;">
                            <h4>Access Desc.</h4>
                            <hr>
                            <h5>
                                Prerequisites
                            </h5>
                            <span>You should have an account with at least level-1 permission.</span>
                            <h5>
                                Acquire Permission
                            </h5>
                            <span>Use <code>XXTEA</code> algorithm to encrypt your value as your digital signature
                                and upload this to the server.The cipher will be your md5 password[0:16].The server will
                                decouple your
                                JSON string and check your signature.If ok, the data will be stored in the server
                                immediately.</span>
                            <h5>
                                Establish Connection
                            </h5>
                            <span>
                                Try to connect to our server and send packets respectively as followings.
                                <br>
                                <code>API:/device_details/{{this.chosenDevice}}</code>
                                <pre><code>{
    "value":"[<span v-for="p in deviceDetails">\"{{p.name}}'s value\",</span>]",
    "username":"{{username}}",
    "signature":"XXTEA encrypted value"
}</code></pre>
                            </span>
                        </div>
                    </div>
                    <div class="card-container" style="max-width:430px;" v-if="haveChosenDevice&&(!view_apidesc)">

                        <div v-bind:class="['info-card',k.size=='single'?'info-card-small':'info-card-big']"
                            v-for="k in deviceDetails" v-if="k.type=='display'" v-bind:key="k.name">
                            <div style="display:flex;flex-direction:column;justify-content:center;font-size: 3em;">
                                <i v-bind:class="['fa',k.icon]" aria-hidden="true"></i>
                                <small style="font-size: .50em;text-align: center;">{{k.unit}}</small>
                            </div>
                            <div style="text-align:center ;">
                                <span>{{k.name}}</span>
                                <hr>
                                <h3>
                                    {{k.value}}
                                </h3>
                            </div>
                        </div>
                        <div v-bind:class="['control-card',k.size=='single'?'info-card-small':'info-card-big']"
                            v-for="k in deviceDetails" v-if="k.type=='control'" v-bind:key="k.name">
                            <div style="display: flex;flex-direction:row;justify-content:space-between;width:100%;">
                                <span v-if="k.unit=='toggle'"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <span v-if="k.unit.indexOf('range(')>-1" style="line-height:38px"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <span v-if="k.unit=='exec'" style="line-height:31px"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <div style="width: 65px;display: flex;flex-direction: row;justify-content: flex-end;">
                                    <div class="form-check form-switch" v-if="k.unit=='toggle'">
                                        <input v-if="!controller_lock" class="form-check-input" type="checkbox"
                                            v-model="k.value" v-on:change="submitChange(k.name,k.value?1:0)">
                                        <input v-if="controller_lock" disabled class="form-check-input" type="checkbox"
                                            v-model="k.value" v-on:change="submitChange(k.name,k.value?1:0)">
                                    </div>
                                    <div v-if="k.unit.indexOf('range(')>-1">
                                        <div class="input-group">
                                            <input v-if="!controller_lock" type="number" class="form-control"
                                                v-bind:min="parseInt(k.unit.replace('range(','').replace(')','').split(',')[0])"
                                                v-bind:max="parseInt(k.unit.replace('range(','').replace(')','').split(',')[1])"
                                                v-model="k.value" v-on:change="submitChange(k.name,k.value)">
                                            <input v-if="controller_lock" disabled type="number" class="form-control"
                                                v-bind:min="parseInt(k.unit.replace('range(','').replace(')','').split(',')[0])"
                                                v-bind:max="parseInt(k.unit.replace('range(','').replace(')','').split(',')[1])"
                                                v-model="k.value" v-on:change="submitChange(k.name,k.value)">
                                        </div>
                                    </div>
                                    <div v-if="k.unit=='exec'">
                                        <button v-if="!controller_lock" type="button"
                                            class="btn btn-outline-info btn-sm" style="width: 65px;"
                                            v-on:click="submitChange(k.name,0)">Exec</button>
                                        <button v-if="controller_lock" disabled type="button"
                                            class="btn btn-outline-info btn-sm" style="width: 65px;"
                                            v-on:click="submitChange(k.name,0)">Exec</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-bind:class="['control-card','info-card-big']" v-if="getScriptLength>0">
                            <span>
                                <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Scripts Control
                            </span>
                            <hr>
                            <div style="display: flex;flex-direction:row;justify-content:space-between;width:100%;"
                                v-for="k in deviceDetails" v-if="k.type=='script'">
                                <span><i class="fa fa-code" aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <div style="width: 65px;display: flex;flex-direction: row;justify-content: flex-end;">
                                    <div class="form-check form-switch" v-if="k.unit=='toggle'">
                                        <input v-if="!controller_lock" class="form-check-input" type="checkbox"
                                            v-model="k.value" v-on:change="submitChange(k.name,k.value?1:0)">
                                        <input v-if="controller_lock" disabled class="form-check-input" type="checkbox"
                                            v-model="k.value" v-on:change="submitChange(k.name,k.value?1:0)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-bind:class="['chart-card','info-card-big']" v-if="getChartLength>0">
                            <div v-for="chart in deviceDetails" v-if="chart.type=='chart'"
                                v-bind:id="chart.name+'_chart'" style="width: 100%;height:300px;"></div>
                        </div>
                        <div v-bind:class="['chart-card','info-card-big']" v-if="getMapLength>0">
                            <div v-for="map in deviceDetails" v-if="map.type=='map'">
                                <span>{{map.name}}</span>
                                <div v-bind:id="map.name+'_map'" style="width: 100%;height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="route=='manage'" style="display:flex;justify-content:center;">
                <div style="max-width: 430px">
                    <div v-if="manage_subroute=='main'">
                        <div v-if="haveChosenDevice" class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You have chosen:&nbsp;</span>
                            <span>{{chosenDevice}}</span>
                        </div>
                        <div v-if="!haveChosenDevice" class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You haven't chosen any device yet.</span>
                        </div>
                        <div class="list-group" style="margin-top: 20px;">
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                aria-current="true" v-on:click="goAddPage">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Add New Device</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                aria-current="true" v-if="haveChosenDevice" v-on:click="goUpdatePage">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Edit Current Device</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-if="manage_subroute=='edit'">
                        <div v-if="!haveChosenDevice" class="card-container mb-3"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You are adding a new device.</span>
                        </div>
                        <div v-if="haveChosenDevice" class="card-container mb-3"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You are editing on&nbsp;{{manageDeviceName}}</span>
                        </div>
                        <div class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;padding: 25px;">
                            <div class="mb-3">
                                <label class="form-label">Device Name:</label>
                                <input type="text" class="form-control" placeholder="Your device name"
                                    v-model="manageDeviceName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Device Type:</label>
                                <input type="text" class="form-control" placeholder="Your device type"
                                    v-model="manageDeviceType">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Device Icon:</label>
                                <input type="text" class="form-control" placeholder="Icon in font-awesome-4"
                                    v-model="manageDeviceIcon">
                            </div>
                        </div>
                        <hr>
                        <div class="accordion accordion-flush" id="accordionProperties">
                            <div class="accordion-item" v-for="item,key in newDeviceDetails">
                                <h2 class="accordion-header" v-bind:id="'flush-heading-'+key">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        v-bind:data-bs-target="'#flush-collapse-'+key" aria-expanded="false"
                                        v-bind:aria-controls="'flush-collapse-'+key">
                                        {{item.name}}
                                    </button>
                                </h2>
                                <div v-bind:id="'flush-collapse-'+key"
                                    v-bind:class="['accordion-collapse','collapse',item.name==manageOnChangePropertyName?'show':'']"
                                    aria-labelledby="'flush-heading-'+key" data-bs-parent="#accordionProperties">
                                    <div class="accordion-body">
                                        <div class="mb-3">
                                            <label class="form-label">Property Name:</label>
                                            <input type="text" class="form-control" placeholder="name"
                                                v-model="item.name">
                                        </div>
                                        <hr>
                                        <div class="mb-3">
                                            <label class="form-label">Type:</label>
                                            <input type="text" class="form-control"
                                                placeholder="display/control/script/chart/map" v-model="item.type">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Icon:</label>
                                            <input type="text" class="form-control" placeholder="Icon in font-awesome-4"
                                                v-model="item.icon">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Unit:</label>
                                            <input type="text" class="form-control" placeholder="Unit"
                                                v-model="item.unit">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Size:</label>
                                            <input type="text" class="form-control" placeholder="'single' or empty"
                                                v-model="item.size">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Value:</label>
                                            <input type="text" class="form-control" placeholder="Value"
                                                v-model="item.value">
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Basic outlined">
                                            <button type="button" class="btn btn-outline-primary"
                                                v-on:click="managePropertyMove(item.name,'up')">Up</button>
                                            <button type="button" class="btn btn-outline-primary"
                                                v-on:click="managePropertyMove(item.name,'down')">Down</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                v-on:click="managePropertyDelete(item.name)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="edit-card" style="background-color: #fff;padding: 5px;margin: auto;">
                            <div class="mb-3">
                                <label class="form-label">Property Name:</label>
                                <input type="text" class="form-control" placeholder="name"
                                    v-model="manageNewPropertyName">
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Type:</label>
                                <input type="text" class="form-control" placeholder="display/control/script/chart/map"
                                    v-model="manageNewPropertyType">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Icon:</label>
                                <input type="text" class="form-control" placeholder="Icon in font-awesome-4"
                                    v-model="manageNewPropertyIcon">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Unit:</label>
                                <input type="text" class="form-control" placeholder="Unit"
                                    v-model="manageNewPropertyUnit">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Size:</label>
                                <input type="text" class="form-control" placeholder="'single' or empty"
                                    v-model="manageNewPropertySize">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Value:</label>
                                <input type="text" class="form-control" placeholder="Value"
                                    v-model="manageNewPropertyValue">
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic outlined">
                                <button type="button" class="btn btn-outline-primary"
                                    v-on:click="managePropertyAdd">Add</button>
                                <button type="button" class="btn btn-outline-success"
                                    v-on:click="manageDeviceSave">Save</button>
                                <button type="button" class="btn btn-outline-danger"
                                    v-on:click="manageDeviceDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/md5.min.js"></script>
    <script src="./assets/js/echarts.min.js"></script>
    <script src="./assets/js/leaflet.js"></script>
    <script>
        window.onload = () => {
            /* TODO: Make Manage Subsystem Available */
        }

        function loadChart() {
            let cnt = app.deviceDetails.length;
            for (let i = 0; i < cnt; i++) {
                if (app.deviceDetails[i].type == 'chart') {
                    var myChart = echarts.init(document.getElementById(app.deviceDetails[i].name + '_chart'));
                    // 绘制图表
                    myChart.setOption({
                        title: {
                            text: app.deviceDetails[i].name
                        },
                        tooltip: {},
                        xAxis: {
                            data: app.deviceDetails[i].value.xAxis
                        },
                        yAxis: {},
                        series: [
                            {
                                name: app.deviceDetails[i].unit,
                                type: app.deviceDetails[i].value.type,
                                data: app.deviceDetails[i].value.yAxis
                            }
                        ],
                        grid: {
                            left: '15%'
                        }
                    });
                }
            }
        }
        function loadMaps() {
            let cnt = app.deviceDetails.length;
            for (let i = 0; i < cnt; i++) {
                if (app.deviceDetails[i].type == 'map') {
                    let valueObj = app.deviceDetails[i].value;
                    //console.log(valueObj);
                    let len = valueObj.length;
                    var container = L.DomUtil.get(app.deviceDetails[i].name + '_map');
                    if (container != null) {
                        container._leaflet_id = null;
                    }
                    /* let dom=document.getElementById(app.deviceDetails[i].name + '_map');
                    let dom_parent=dom.parentNode;
                    dom_parent.removeChild(dom);
                    let div=document.createElement(app.deviceDetails[i].name + '_map');
                    dom_parent.appendChild(div);*/
                    let map = L.map(app.deviceDetails[i].name + '_map').setView(valueObj[len - 1], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '© OpenStreetMap'
                    }).addTo(map);
                    var marker = L.marker(valueObj[len - 1]).addTo(map);
                    var polyline = L.polyline(valueObj, { color: 'red' }).addTo(map);
                    map.fitBounds(polyline.getBounds());
                }
            }
        }

        var token = "";

        function ajax(method, url, data, callback) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.withCredentials = true;
            httpRequest.open(method, url, true);
            if (token != "") {
                httpRequest.setRequestHeader("token", token);
            }
            httpRequest.send(data);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    var json = httpRequest.responseText;
                    callback(json);
                }
            };
        }

        function jsonClone(obj) {
            return JSON.parse(JSON.stringify(obj));
        }

        let deviceRefreshInt, deviceDetailRefreshInt, downloadInterval = 10, submitInterval = 3;

        function deviceRefresh() {
            ajax("get", "/devices", {}, (e) => {
                let jsonObj = JSON.parse(e);
                if (jsonObj == null) {
                    app.devices = []
                }
                else {
                    app.devices = jsonObj;
                }
                app.$forceUpdate();
            });
        }

        function deviceDetailRefresh() {
            if (!app.haveChosenDevice) return;
            ajax("get", "/device_details/" + app.chosenDevice, {}, (e) => {
                let jsonObj = JSON.parse(e);
                if (jsonObj == null) {
                    app.deviceDetails = []
                }
                else {
                    for (let i = 0; i < jsonObj.length; i++) {
                        jsonObj[i].value = eval(jsonObj[i].value.toLowerCase());
                    }
                    app.deviceDetails = jsonObj;
                }
                if (!app.view_apidesc) {
                    if (app.getChartLength > 0) {
                        window.setTimeout(() => {
                            loadChart();
                            //loadMaps();
                        }, 200);
                    }
                    if (app.getMapLength > 0) {
                        window.setTimeout(() => {
                            //loadChart();
                            loadMaps();
                        }, 200);
                    }
                }
                app.$forceUpdate();
            });
        }

        function toast(title, subtitle, message, timeout) {
            app.toast_title=title;
            app.toast_subtitle=subtitle;
            app.toast_message=message;
            var toaster = document.getElementById('liveToast');
            let toast = new bootstrap.Toast(toaster)
            toast.show();
            window.setTimeout(()=>{
                toast.hide();
            },timeout*1000);
        }
        /* TODO: 在管理设备时，允许用户设置初始值；增加安卓下载数据接口。*/
        var app = new Vue({
            el: '#app',
            data: {
                route: "login", /* mode:login home view manage*/
                view_apidesc: false,
                manage_subroute: "main",/*main edit*/
                username: "",
                password: "",
                permission: 0,
                rememberUser: false,
                chosenDevice: '',
                devices: [],
                deviceDetails: [],
                controller_lock: false,
                manageDeviceName: "", /*In manage mode,it means the new name that the admin changes.*/
                manageDeviceType: "",
                manageDeviceIcon: "",
                manage_add_mode: false,
                newDeviceDetails: [], /*When to update a device,we should firstly opearate on its copy.*/
                manageOnChangePropertyName: "",/*The property that is on change.*/
                manageNewPropertyType: "",
                manageNewPropertyName: "",
                manageNewPropertyIcon: "",
                manageNewPropertyUnit: "",
                manageNewPropertySize: "",
                manageNewPropertyValue: "",
                toast_title:"",
                toast_subtitle:"",
                toast_message:""
            },
            methods: {
                clearPassword: function () {
                    this.password = "";
                    window.localStorage.removeItem("username");
                    window.localStorage.removeItem("password");
                },
                login: function (e) {
                    if (this.username == "" || this.password == "") {
                        alert("Please fill the form correctly.");
                        return;
                    }
                    if (this.password.length < 32) {
                        this.password = md5(this.password);
                    }
                    ajax("get", "/login/" + this.username + "/" + this.password, {}, (e) => {
                        let msg = JSON.parse(e)["msg"]
                        if (msg == "success") {
                            this.permission = JSON.parse(e)["permission"];
                            if (this.rememberUser) {
                                window.localStorage.setItem("username", this.username);
                                window.localStorage.setItem("password", this.password);
                            }
                            else {
                                this.clearPassword();
                            }
                            token = this.username + "," + md5(this.username + this.password);
                            this.route = "home";/*Change Status*/
                            deviceRefresh();
                            if (window.deviceRefreshInt != 0) {
                                window.clearInterval(window.deviceRefreshInt);
                                window.deviceRefreshInt = 0;
                            }
                            window.deviceRefreshInt = window.setInterval(deviceRefresh, downloadInterval * 1000);
                        }
                        else {
                            this.clearPassword();
                            alert(msg);
                            return;
                        }
                    });
                },
                logout: function () {
                    this.clearPassword();
                    this.rememberUser = false;
                    this.route = "login";/*Change Status*/
                },
                changeRoute: function (r) {
                    /*Do this to have some initializations*/
                    this.route = r;
                    if (this.route == "view" && this.haveChosenDevice) {
                        this.viewDevice(this.chosenDevice);
                    }
                    else if (this.route == "manage") {
                        this.manage_subroute = "main";
                    }
                    else if (this.route == "home") {
                        this.chosenDevice = "";
                    }
                },
                viewDevice: function (d) {
                    this.chosenDevice = d;
                    this.route = "view";
                    this.deviceDetails = [];
                    if (window.deviceDetailRefreshInt != 0) {
                        window.clearInterval(window.deviceDetailRefreshInt);
                        window.deviceDetailRefreshInt = 0;
                    }
                    deviceDetailRefresh();
                    window.deviceDetailRefreshInt = window.setInterval(deviceDetailRefresh, downloadInterval * 1000);
                },
                viewAPIdesc: function () {
                    if (this.view_apidesc) {
                        this.view_apidesc = false;
                        deviceDetailRefresh();
                    }
                    else {
                        this.view_apidesc = true;
                    }
                },
                goAddPage: function () {
                    this.chosenDevice = "";
                    this.manage_subroute = "edit";
                    this.manageDeviceName = "";
                    this.manageDeviceType = "";
                    this.manageDeviceIcon = "";
                    this.manage_add_mode = true;
                    //this.newDeviceDetails=jsonClone(this.deviceDetails);
                },
                goUpdatePage: function () {
                    this.manage_subroute = "edit";
                    this.newDeviceDetails = jsonClone(this.deviceDetails);
                    this.manageDeviceName = this.chosenDevice;
                    this.manage_add_mode = false;
                    for (let i = 0; i < this.devices.length; i++) {
                        if (this.devices[i].name == this.manageDeviceName) {
                            this.manageDeviceIcon = this.devices[i].icon;
                            this.manageDeviceType = this.devices[i].type;
                            break;
                        }
                    }
                },
                managePropertyAdd: function () {
                    if (this.manageNewPropertyType == "" || this.manageNewPropertyName == "") {
                        this.manageNewPropertyIcon = "";
                        this.manageNewPropertyName = "";
                        this.manageNewPropertySize = "";
                        this.manageNewPropertyType = "";
                        this.manageNewPropertyUnit = "";
                        return;
                    }
                    let newProperty = {
                        type: this.manageNewPropertyType,
                        name: this.manageNewPropertyName,
                        icon: this.manageNewPropertyIcon,
                        value: this.manageNewPropertyValue,
                        unit: this.manageNewPropertyUnit,
                        size: this.manageNewPropertySize
                    }
                    this.newDeviceDetails.push(newProperty);
                    this.manageNewPropertyIcon = "";
                    this.manageNewPropertyName = "";
                    this.manageNewPropertySize = "";
                    this.manageNewPropertyType = "";
                    this.manageNewPropertyUnit = "";
                    this.$forceUpdate();
                },
                managePropertyMove: function (name, direction) {
                    let index = -1;
                    let len = this.newDeviceDetails.length;
                    for (let i = 0; i < len; i++) {
                        if (name == this.newDeviceDetails[i].name) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0 || index == 0 && direction == "up" || index == len - 1 && direction == "down") {
                        return;
                    }
                    let temp = this.newDeviceDetails[index];
                    this.newDeviceDetails[index] = this.newDeviceDetails[index + (direction == "up" ? (-1) : (+1))];
                    this.newDeviceDetails[index + (direction == "up" ? (-1) : (+1))] = temp;
                    this.manageOnChangePropertyName = name;
                    this.$forceUpdate();
                },
                managePropertyDelete: function (name) {
                    if (!confirm("Are you sure to delete Property '" + name + "' ?")) {
                        return;
                    }
                    let index = -1;
                    let len = this.newDeviceDetails.length;
                    for (let i = 0; i < len; i++) {
                        if (name == this.newDeviceDetails[i].name) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0) {
                        return;
                    }
                    this.newDeviceDetails.splice(index, 1);
                    this.$forceUpdate();
                },
                manageDeviceSave: function () {
                    if (!confirm("Are you sure to save the changes on device '" + this.chosenDevice + "' ?")) {
                        return;
                    }
                    this.deviceDetails = jsonClone(this.newDeviceDetails);
                    for(let i=0;i<this.newDeviceDetails.length;i++){
                        this.newDeviceDetails[i].value=JSON.stringify(this.newDeviceDetails[i].value);
                    }
                    if (this.manage_add_mode) {
                        ajax("POST", "/devices/" + app.manageDeviceName + "/" + app.manageDeviceType + "/" + app.manageDeviceIcon, JSON.stringify({ "properties": JSON.stringify(this.newDeviceDetails) }), (e) => {
                            let msg = JSON.parse(e)["msg"];
                            if (msg == "success") {
                                this.manage_subroute = "main";
                            }
                            else {
                                this.manage_subroute = "main";
                                this.changeRoute("view");
                                alert(msg);
                            }
                        });
                    } else {
                        ajax("PUT", "/device_property/" + app.manageDeviceName, JSON.stringify({ "properties": JSON.stringify(this.newDeviceDetails) }), (e) => {
                            let msg = JSON.parse(e)["msg"];
                            if (msg == "success") {
                                this.manage_subroute = "main";
                            }
                            else {
                                this.manage_subroute = "main";
                                this.changeRoute("view");
                                alert(msg);
                            }
                        });
                    }
                },
                manageDeviceDelete: function () {
                    if (!confirm("Are you sure to delete device '" + this.chosenDevice + "' ?")) {
                        return;
                    }
                    let index = -1;
                    for (let i = 0; i < this.devices.length; i++) {
                        if (this.chosenDevice == this.devices[i].name) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0) {
                        return;
                    }
                    ajax("DELETE", "/devices/" + this.chosenDevice, "", (e) => {
                        if (JSON.parse(e).msg == "success") {
                            this.devices.splice(index, 1);
                            this.manage_subroute = "main";
                            this.chosenDevice = "";
                            changeRoute("home");
                            this.$forceUpdate();
                        }
                        else {
                            alert("Failed to delete device " + this.chosenDevice);
                        }
                    });
                },
                submitChange: function (which, value) {
                    /* device name : this.chosenDevice */
                    this.controller_lock = true;
                    toast("Uploading","Just now","Transmitting data",3);
                    ajax("PUT", "/device_details/" + app.chosenDevice, JSON.stringify({ "property": which, "value": JSON.stringify(value) }), (e) => {
                        let msg = JSON.parse(e)["msg"];
                        if (msg == "success") {
                            window.setTimeout(() => {
                                app.controller_lock = false;
                            }, submitInterval * 1000);
                        }
                        else {
                            alert(msg);
                        }
                    });
                }
            },
            mounted: function () {
                this.username = window.localStorage.getItem("username");
                this.password = window.localStorage.getItem("password");
                if (this.password.length == 32) {
                    this.rememberUser = true;
                    this.login();
                }
            },
            computed: {
                getScriptLength: function () {
                    let cnt = 0;
                    for (let i = 0; i < this.deviceDetails.length; i++) {
                        if (this.deviceDetails[i].type == "script") {
                            cnt++;
                        }
                    }
                    return cnt;
                },
                getChartLength: function () {
                    let cnt = 0;
                    for (let i = 0; i < this.deviceDetails.length; i++) {
                        if (this.deviceDetails[i].type == "chart") {
                            cnt++;
                        }
                    }
                    return cnt;
                },
                getMapLength: function () {
                    let cnt = 0;
                    for (let i = 0; i < this.deviceDetails.length; i++) {
                        if (this.deviceDetails[i].type == "map") {
                            cnt++;
                        }
                    }
                    return cnt;
                },
                haveChosenDevice: function () {
                    for (let i = 0; i < this.devices.length; i++) {
                        if (this.devices[i].name == this.chosenDevice) {
                            return true;
                        }
                    }
                    return false;
                }
            }
        });

    </script>
</body>

</html>