<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Intelli-Sw</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <link href="./assets/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-center py-3" v-if="route!='login'">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='home'}]"
                        aria-current="page" v-on:click="changeRoute('home')">Home</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='view'}]"
                        v-on:click="changeRoute('view')">View</a></li>
                <li class="nav-item"><a href="#" v-bind:class="['nav-link',{'active':route=='manage'}]"
                        v-on:click="changeRoute('manage')">Manage</a></li>
                <li class="nav-item"><a href="#" class="nav-link" v-on:click="logout">Logout</a></li>
            </ul>
        </header>
        <div class="container mt-2">
            <div class="row" v-if="route=='login'">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h3 style="text-align:center">Intelli-Sw</h3>
                    <div class="intelli-card">
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter username" v-model="username">
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" v-model="password">
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" v-model="rememberUser">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="login">Log In</button>
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row" v-if="route=='home'">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h4 style="text-align:center">Available Devices</h4>
                    <div class="list-group">
                        <a v-for="item in devices" href="#"
                            class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
                            v-on:click="viewDevice(item.name)">
                            <i v-bind:class="['fa','fa-in-card',item.icon]" aria-hidden="true"></i>
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{item.name}}</h6>
                                    <p class="mb-0 opacity-75">{{item.type}}</p>
                                </div>
                                <small v-if="item.online" class="opacity-80 text-nowrap text-success">online</small>
                                <small v-if="!item.online" class="opacity-80 text-nowrap text-danger">offline</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row" v-if="route=='view'" style="display:flex;justify-content:center;">
                <div style="max-width:430px;">
                    <div class="card-container" style="background-color: #fff;padding: 5px;width: 350px;margin: auto;"
                        v-if="!haveChosenDevice">
                        <span>You haven't chosen a device yet.</h4>
                    </div>
                    <div class="card-container" style="background-color: #fff;padding: 5px;width: 350px;margin: auto;"
                        v-if="haveChosenDevice">
                        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;{{chosenDevice}}</h4>
                    </div>
                    <div class="card-container" style="max-width:430px;" v-if="haveChosenDevice">

                        <div v-bind:class="['info-card',k.size=='single'?'info-card-small':'info-card-big']"
                            v-for="k in deviceDetails" v-if="k.type=='display'" v-bind:key="k.name">
                            <div style="display:flex;flex-direction:column;justify-content:center;font-size: 4em;">
                                <i v-bind:class="['fa',k.icon]" aria-hidden="true"></i>
                            </div>
                            <div style="text-align:center ;">
                                <span>{{k.name}}</span>
                                <hr>
                                <h3>
                                    {{k.value}}
                                    <small>{{k.unit}}</small>
                                </h3>
                            </div>
                        </div>
                        <div v-bind:class="['control-card',k.size=='single'?'info-card-small':'info-card-big']"
                            v-for="k in deviceDetails" v-if="k.type=='control'" v-bind:key="k.name">
                            <div style="display: flex;flex-direction:row;justify-content:space-between;width:100%;">
                                <span v-if="k.unit=='toggle'"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <span v-if="k.unit.indexOf('range(')>-1" style="line-height:38px"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <span v-if="k.unit=='exec'" style="line-height:31px"><i class="fa fa-cog"
                                        aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <div style="width: 65px;display: flex;flex-direction: row;justify-content: flex-end;">
                                    <div class="form-check form-switch" v-if="k.unit=='toggle'">
                                        <input class="form-check-input" type="checkbox" v-model="k.value"
                                            v-on:change="submitChange(k.name,k.value?1:0)">
                                    </div>
                                    <div v-if="k.unit.indexOf('range(')>-1">
                                        <div class="input-group">
                                            <input type="number" class="form-control"
                                                v-bind:min="parseInt(k.unit.replace('range(','').replace(')','').split(',')[0])"
                                                v-bind:max="parseInt(k.unit.replace('range(','').replace(')','').split(',')[1])"
                                                v-model="k.value" v-on:change="submitChange(k.name,k.value)">
                                        </div>
                                    </div>
                                    <div v-if="k.unit=='exec'">
                                        <button type="button" class="btn btn-outline-info btn-sm" style="width: 65px;"
                                            v-on:click="submitChange(k.name,0)">Exec</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-bind:class="['control-card','info-card-big']">
                            <span>
                                <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Scripts Control
                            </span>
                            <hr>
                            <div style="display: flex;flex-direction:row;justify-content:space-between;width:100%;"
                                v-for="k in deviceDetails" v-if="k.type=='script'">
                                <span><i class="fa fa-code" aria-hidden="true"></i>&nbsp;{{k.name}}</span>
                                <div style="width: 65px;display: flex;flex-direction: row;justify-content: flex-end;">
                                    <div class="form-check form-switch" v-if="k.unit=='toggle'">
                                        <input class="form-check-input" type="checkbox" v-model="k.value"
                                            v-on:change="submitChange(k.name,k.value?1:0)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-bind:class="['chart-card','info-card-big']" v-if="getChartLength>0">
                            <div v-for="chart in deviceDetails" v-if="chart.type=='chart'"
                                v-bind:id="chart.name+'_chart'" style="width: 100%;height:300px;"></div>
                        </div>
                        <div v-bind:class="['chart-card','info-card-big']" v-if="getChartLength>0">
                            <div v-for="map in deviceDetails" v-if="map.type=='map'">
                                <span>{{map.name}}</span>
                                <div v-bind:id="map.name+'_map'" style="width: 100%;height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="route=='manage'" style="display:flex;justify-content:center;">
                <div style="max-width: 430px">
                    <div v-if="manage_subroute=='main'">
                        <div v-if="haveChosenDevice" class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You have chosen:&nbsp;</span>
                            <span>{{chosenDevice}}</span>
                        </div>
                        <div v-if="!haveChosenDevice" class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You haven't chosen any device yet.</span>
                        </div>
                        <div class="list-group" style="margin-top: 20px;">
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                aria-current="true" v-on:click="goAddPage">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Add New Device</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                aria-current="true" v-if="haveChosenDevice" v-on:click="goUpdatePage">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Edit Current Device</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-if="manage_subroute=='edit'">
                        <div v-if="!haveChosenDevice" class="card-container mb-3"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You are adding a new device.</span>
                        </div>
                        <div v-if="haveChosenDevice" class="card-container mb-3"
                            style="background-color: #fff;padding: 5px;margin: auto;">
                            <span>You are editing on&nbsp;{{manageDeviceName}}</span>
                        </div>
                        <div class="card-container"
                            style="background-color: #fff;padding: 5px;margin: auto;padding: 25px;">
                            <div class="mb-3">
                                <label class="form-label">Device Name:</label>
                                <input type="text" class="form-control" placeholder="Your device name"
                                    v-model="manageDeviceName">
                            </div>
                        </div>
                        <hr>
                        <div class="accordion accordion-flush" id="accordionProperties">
                            <div class="accordion-item" v-for="item,key in newDeviceDetails">
                                <h2 class="accordion-header" v-bind:id="'flush-heading-'+key">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        v-bind:data-bs-target="'#flush-collapse-'+key" aria-expanded="false"
                                        v-bind:aria-controls="'flush-collapse-'+key">
                                        {{item.name}}
                                    </button>
                                </h2>
                                <div v-bind:id="'flush-collapse-'+key"
                                    v-bind:class="['accordion-collapse','collapse',item.name==manageOnChangePropertyName?'show':'']"
                                    aria-labelledby="'flush-heading-'+key" data-bs-parent="#accordionProperties">
                                    <div class="accordion-body">
                                        <div class="mb-3">
                                            <label class="form-label">Property Name:</label>
                                            <input type="text" class="form-control" placeholder="name"
                                                v-model="item.name">
                                        </div>
                                        <hr>
                                        <div class="mb-3">
                                            <label class="form-label">Type:</label>
                                            <input type="text" class="form-control"
                                                placeholder="display/control/script/chart/map" v-model="item.type">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Icon:</label>
                                            <input type="text" class="form-control" placeholder="Icon in font-awesome-4"
                                                v-model="item.icon">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Unit:</label>
                                            <input type="text" class="form-control" placeholder="Unit"
                                                v-model="item.unit">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Size:</label>
                                            <input type="text" class="form-control" placeholder="'single' or empty"
                                                v-model="item.size">
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Basic outlined">
                                            <button type="button" class="btn btn-outline-primary"
                                                v-on:click="managePropertyMove(item.name,'up')">Up</button>
                                            <button type="button" class="btn btn-outline-primary"
                                                v-on:click="managePropertyMove(item.name,'down')">Down</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                v-on:click="managePropertyDelete(item.name)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="edit-card" style="background-color: #fff;padding: 5px;margin: auto;">
                            <div class="mb-3">
                                <label class="form-label">Property Name:</label>
                                <input type="text" class="form-control" placeholder="name"
                                    v-model="manageNewPropertyName">
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Type:</label>
                                <input type="text" class="form-control" placeholder="display/control/script/chart/map"
                                    v-model="manageNewPropertyType">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Icon:</label>
                                <input type="text" class="form-control" placeholder="Icon in font-awesome-4"
                                    v-model="manageNewPropertyIcon">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Unit:</label>
                                <input type="text" class="form-control" placeholder="Unit"
                                    v-model="manageNewPropertyUnit">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Size:</label>
                                <input type="text" class="form-control" placeholder="'single' or empty"
                                    v-model="manageNewPropertySize">
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic outlined">
                                <button type="button" class="btn btn-outline-primary"
                                    v-on:click="managePropertyAdd">Add</button>
                                <button type="button" class="btn btn-outline-success"
                                    v-on:click="manageDeviceSave">Save</button>
                                <button type="button" class="btn btn-outline-danger"
                                    v-on:click="manageDeviceDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/md5.min.js"></script>
    <script src="./assets/js/echarts.min.js"></script>
    <script src="./assets/js/leaflet.js"></script>
    <script>
        window.onload = () => {

        }

        function loadChart() {
            let cnt = app.deviceDetails.length;
            for (let i = 0; i < cnt; i++) {
                if (app.deviceDetails[i].type == 'chart') {
                    var myChart = echarts.init(document.getElementById(app.deviceDetails[i].name + '_chart'));
                    // 绘制图表
                    myChart.setOption({
                        title: {
                            text: app.deviceDetails[i].name
                        },
                        tooltip: {},
                        xAxis: {
                            data: app.deviceDetails[i].value.xAxis
                        },
                        yAxis: {},
                        series: [
                            {
                                name: app.deviceDetails[i].unit,
                                type: app.deviceDetails[i].value.type,
                                data: app.deviceDetails[i].value.yAxis
                            }
                        ],
                        grid: {
                            left: '15%'
                        }
                    });
                }
            }
        }

        function loadMaps() {
            let cnt = app.deviceDetails.length;
            for (let i = 0; i < cnt; i++) {
                if (app.deviceDetails[i].type == 'map') {
                    let len = app.deviceDetails[i].value.length;
                    var map = L.map(app.deviceDetails[i].name + '_map').setView(app.deviceDetails[i].value[len - 1], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '© OpenStreetMap'
                    }).addTo(map);
                    var marker = L.marker(app.deviceDetails[i].value[len - 1]).addTo(map);
                    var polyline = L.polyline(app.deviceDetails[i].value, { color: 'red' }).addTo(map);
                    map.fitBounds(polyline.getBounds());
                }
            }
        }

        function ajax(method, url, data, callback) {
            var httpRequest = new XMLHttpRequest();//第一步：建立所需的对象
            httpRequest.open(method, url, true);//第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
            httpRequest.send();
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    var json = httpRequest.responseText;
                    callback(json);
                }
            };
        }

        function jsonClone(obj) {
            return JSON.parse(JSON.stringify(obj));
        }

        let deviceRefreshInt, deviceDetailRefreshInt;

        function deviceRefresh() {
            ajax("get", "/device", {}, (e) => {
                let jsonObj = json.parse(e);
                app.devices = jsonObj;
                app.$forceUpdate();
            });
        }

        var app = new Vue({
            el: '#app',
            data: {
                route: "login", /* mode:login home view manage*/
                manage_subroute: "main",/*main edit*/
                username: "",
                password: "",
                rememberUser: false,
                chosenDevice: 'sanya01',
                devices: [
                    {
                        name: 'Sanya Room',
                        type: 'Room Controller',
                        icon: 'fa-server',
                        online: false
                    },
                    {
                        name: 'S22+',
                        type: 'Mobile Phone',
                        icon: 'fa-mobile',
                        online: true
                    },
                    {
                        name: 'Yueyang NAS',
                        type: 'NAS',
                        icon: 'fa-file-text',
                        online: true
                    },
                    {
                        name: 'Bike 01',
                        type: 'Facility',
                        icon: 'fa-bicycle',
                        online: true
                    }
                ],
                deviceDetails: [
                    {
                        type: 'display',
                        name: "Temperature",
                        icon: "fa-thermometer-empty",
                        value: 37,
                        unit: '°C',
                        size: 'single'
                    },
                    {
                        type: 'display',
                        name: "Pressure",
                        icon: "fa-cloud",
                        value: 1013,
                        unit: 'hPa',
                        size: 'single'
                    },
                    {
                        type: 'display',
                        name: "Illuminance",
                        icon: "fa-lightbulb-o",
                        value: 370,
                        unit: 'lx',
                        size: 'single'
                    },
                    {
                        type: 'display',
                        name: "Humidity",
                        icon: "fa-tint",
                        value: 65,
                        unit: '%',
                        size: 'single'
                    },
                    {
                        type: 'control',
                        name: "Full Lights",
                        icon: "",
                        value: true,
                        unit: 'toggle',
                        size: ''
                    },
                    {
                        type: 'control',
                        name: "Screen Brightness",
                        icon: "",
                        value: 70,
                        unit: 'range(0,100)',
                        size: ''
                    },
                    {
                        type: 'control',
                        name: "Screen Lock",
                        icon: "",
                        value: 0,
                        unit: 'exec',
                        size: ''
                    },
                    {
                        type: 'control',
                        name: "Air Conditioner",
                        icon: "",
                        value: 26,
                        unit: 'range(16,28)',
                        size: ''
                    },
                    {
                        type: 'script',
                        name: "Auto Light",
                        icon: "",
                        value: false,
                        unit: 'toggle',
                        size: ''
                    },
                    {
                        type: 'script',
                        name: "Auto TempCtl",
                        icon: "",
                        value: true,
                        unit: 'toggle',
                        size: ''
                    },
                    {
                        type: 'chart',
                        name: "TempChart",
                        icon: "",
                        value: {
                            xAxis: ['18:30', '19:30', '20:30', '21:30', '22:30'],
                            yAxis: [27, 28, 28, 29, 31],
                            type: 'line'
                        },
                        unit: '°C',
                        size: ''
                    },
                    {
                        type: 'chart',
                        name: "BrightChart",
                        icon: "",
                        value: {
                            xAxis: ['18:30', '19:30', '20:30', '21:30', '22:30'],
                            yAxis: [720, 820, 825, 920, 3100],
                            type: 'line'
                        },
                        unit: 'lx',
                        size: ''
                    },
                    {
                        type: 'map',
                        name: "GPS Track",
                        icon: "",
                        value: [[18.29076, 109.49900], [18.28927, 109.49907], [18.28903, 109.49993], [18.28723, 109.49961]],
                        unit: '',
                        size: ''
                    },
                ]
                ,
                manageDeviceName: "", /*In manage mode,it means the new name that the admin changes.*/
                newDeviceDetails: [], /*When to update a device,we should firstly opearate on its copy.*/
                manageOnChangePropertyName: "",/*The property that is on change.*/
                manageNewPropertyType: "",
                manageNewPropertyName: "",
                manageNewPropertyIcon: "",
                manageNewPropertyUnit: "",
                manageNewPropertySize: ""
            },
            methods: {
                clearPassword: function () {
                    this.password = "";
                    window.localStorage.removeItem("username");
                    window.localStorage.removeItem("password");
                },
                login: function (e) {
                    if (this.username == "" || this.password == "") {
                        alert("Please fill the form correctly.");
                        return;
                    }
                    if (this.password.length < 32) {
                        this.password = md5(this.password);
                    }
                    ajax("get", "/login/" + this.username + "/" + this.password, {}, (e) => {
                        let msg = JSON.parse(e)["msg"]
                        if (msg == "success") {
                            if (this.rememberUser) {
                                window.localStorage.setItem("username", this.username);
                                window.localStorage.setItem("password", this.password);
                            }
                            else {
                                this.clearPassword();
                            }
                            this.route = "home";/*Change Status*/
                            window.deviceRefreshInt = window.setInterval(deviceRefresh, 5000);
                            /* TODO:Frequently Download Information from the server */
                            /* TODO:If we confirm that the user is inspecting a device,frequently update the data. */
                            /* TODO:Implement the add device function */
                        }
                        else {
                            this.clearPassword();
                            alert(msg);
                            return;
                        }
                    });
                },
                logout: function () {
                    this.clearPassword();
                    this.rememberUser = false;
                    this.route = "login";/*Change Status*/
                },
                changeRoute: function (r) {
                    /*Do this to have some initializations*/
                    this.route = r;
                    if (this.route == "view" && this.haveChosenDevice) {
                        this.viewDevice(this.chosenDevice);
                    }
                    else if (this.route == "manage") {
                        this.manage_subroute = "main";
                    }
                    else if (this.route == "home") {
                        this.chosenDevice = "";
                    }
                    /* TODO: think how to determine we need to update the information */
                },
                viewDevice: function (d) {
                    this.chosenDevice = d;
                    this.route = "view";
                    if (this.getChartLength > 0) {
                        window.setTimeout(() => {
                            loadChart();
                            loadMaps();
                        }, 500);
                    }
                    /* TODO: update information from the server */
                },
                goAddPage: function () {
                    this.chosenDevice = "";
                    this.manage_subroute = "edit";
                    //this.newDeviceDetails=jsonClone(this.deviceDetails);
                },
                goUpdatePage: function () {
                    this.manage_subroute = "edit";
                    this.newDeviceDetails = jsonClone(this.deviceDetails);
                    this.manageDeviceName = this.chosenDevice;
                },
                managePropertyAdd: function () {
                    if (this.manageNewPropertyType == "" || this.manageNewPropertyName == "") {
                        this.manageNewPropertyIcon = "";
                        this.manageNewPropertyName = "";
                        this.manageNewPropertySize = "";
                        this.manageNewPropertyType = "";
                        this.manageNewPropertyUnit = "";
                        return;
                    }
                    let newProperty = {
                        type: this.manageNewPropertyType,
                        name: this.manageNewPropertyName,
                        icon: this.manageNewPropertyIcon,
                        value: 0,
                        unit: this.manageNewPropertyUnit,
                        size: this.manageNewPropertySize
                    }
                    this.newDeviceDetails.push(newProperty);
                    this.manageNewPropertyIcon = "";
                    this.manageNewPropertyName = "";
                    this.manageNewPropertySize = "";
                    this.manageNewPropertyType = "";
                    this.manageNewPropertyUnit = "";
                    this.$forceUpdate();
                },
                managePropertyMove: function (name, direction) {
                    let index = -1;
                    let len = this.newDeviceDetails.length;
                    for (let i = 0; i < len; i++) {
                        if (name == this.newDeviceDetails[i].name) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0 || index == 0 && direction == "up" || index == len - 1 && direction == "down") {
                        return;
                    }
                    let temp = this.newDeviceDetails[index];
                    this.newDeviceDetails[index] = this.newDeviceDetails[index + (direction == "up" ? (-1) : (+1))];
                    this.newDeviceDetails[index + (direction == "up" ? (-1) : (+1))] = temp;
                    this.manageOnChangePropertyName = name;
                    this.$forceUpdate();
                },
                managePropertyDelete: function (name) {
                    if (!confirm("Are you sure to delete Property '" + name + "' ?")) {
                        return;
                    }
                    let index = -1;
                    let len = this.newDeviceDetails.length;
                    for (let i = 0; i < len; i++) {
                        if (name == this.newDeviceDetails[i].name) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0) {
                        return;
                    }
                    this.newDeviceDetails.splice(index, 1);
                    this.$forceUpdate();
                },
                manageDeviceSave: function () {
                    if (!confirm("Are you sure to save the changes on device '" + this.chosenDevice + "' ?")) {
                        return;
                    }
                    this.deviceDetails = jsonClone(this.newDeviceDetails);
                    this.manage_subroute = "main";
                    /* TODO:Determine it is update or add a new device.Update changes to backend */
                },
                manageDeviceDelete: function () {
                    if (!confirm("Are you sure to delete device '" + this.chosenDevice + "' ?")) {
                        return;
                    }
                    let index = -1;
                    for (let i = 0; i < this.devices; i++) {
                        if (this.chosenDevice == this.devices[i]) {
                            index = i;
                            break;
                        }
                    }
                    if (index < 0) {
                        return;
                    }
                    this.devices.splice(index, 1);
                    this.manage_subroute = "main";
                    this.chosenDevice = "";
                    changeRoute("home");
                    this.$forceUpdate();
                    /* TODO:Directly reload device list from the server */
                },
                submitChange: function (which, value) {
                    /* TODO:respond to user's action which changes the value of some proverty. */
                    /* device name : this.chosenDevice */
                    alert(this.chosenDevice + "'s" + which + " will be turned to " + value);
                }
            },
            mounted: function () {
                this.username = window.localStorage.getItem("username");
                this.password = window.localStorage.getItem("password");
                if (this.password.length == 32) {
                    this.rememberUser = true;
                    this.login();
                }
            },
            computed: {
                getChartLength: function () {
                    let cnt = 0;
                    for (let i = 0; i < this.deviceDetails.length; i++) {
                        if (this.deviceDetails[i].type == "chart") {
                            cnt++;
                        }
                    }
                    return cnt;
                },
                haveChosenDevice: function () {
                    for (let i = 0; i < this.devices.length; i++) {
                        if (this.devices[i].name == this.chosenDevice) {
                            return true;
                        }
                    }
                    return false;
                }
            }
        });

    </script>
</body>

</html>